@{
    ViewBag.Title = "Index";
}


<div class="easyui-layout" data-options="fit:true">
    <div id="table">
        <div id="maintabletoolbar">
            <table cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        <input id="searchbox" class="easyui-searchbox" style="width:200px" prompt="请输入搜索的内容" data-options="searcher:function(value){$('#table').datagrid('load',{keyword:value})}" />
                    </td>
                    <td>
                        <div class="datagrid-btn-separator"></div>
                    </td>
                    <td>
                        <a class="easyui-linkbutton" iconcls="icon-archives" plain="true" onclick="down()">导出Excel</a>
                    </td>
                    <td>
                        <div class="datagrid-btn-separator"></div>
                    </td>
                    <td>
                        <a class="easyui-linkbutton" iconcls="icon-reload" plain="true" onclick="$('#table').datagrid('reload')">刷新</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <script>
        function down() {
            window.open('/ticketorder/export?keyword='+$('#searchbox').searchbox('getText'))
        }
        $(function () {
            $('#table').datagrid({
                toolbar: '#maintabletoolbar',
                fit: true,
                border: false,
                fitColumns: true,
                url: '/TicketOrder/Get',
                //分页
                pagination: true,
                rownumbers: true,
                pageList: [10, 20, 30, 40, 50],
                closable: true,
                collapsible: true,
                rownumbers: true,
                singleSelect: true,
                columns: [[
                    {
                        field: 'OrderNum', title: '订单号', width: 200,fixed:true, align: 'center', formatter: function (value) {
                            return '<span class="orderNum" title="' + value + '" href="javascript:void(0)">' + value + '</span>'
                        }
                    }, {

                        field: 'TicetPackage', title: '门票-套餐', width: 180,fixed:true, align: 'center', formatter: function (value, row) {
                            return value.TicketName + "-" + value.Name
                        }
                    }, {
                        field: 'OrderPrice', title: '订单价格', width: 80,fixed:true, halign: 'center',align:'right', formatter: function (value) {
                            return '￥' + value.toFixed(2);
                        }
                    }, {
                        field: 'Price', title: '单价', width: 60, fixed: true, halign: 'center', align: 'right', formatter: function (value) {
                            return '￥' + value.toFixed(2);
                        }
                    }, {
                        field: 'Quantity', title: '数量', width: 50,fixed:true, align: 'center'
                    }, {
                        field: 'Mobile', title: '手机', width: 90, fixed: true, align: 'center'
                    },
                     {
                         field: 'Address', title: '宿舍地址', width: 120, fixed: true, align: 'center', formatter: function (value) {
                             if (value) {
                                 return value
                             } else {
                                 return '<span style="color:#aaa;">无</span>'
                             }
                         }
                     },
                     {
                         field: 'PackageCode', title: '取件短信', width: 50, fixed: true, align: 'center', formatter: function (value) {
                             if (value) {
                                 return '<span class="tt icon-chat" style="width:16px;height:16px;display:inline-block;" title="' + value + '"></span>'
                             } else {
                                 return '<span style="color:#aaa;">无</span>'
                             }
                         }
                     },
                    {

                        field: 'Supplier',
                        title: '供应商ID|会员ID|姓名'
                        , width: 120,
                        fixed: true,
                        align: 'center',
                        formatter: function (value, row) {
                            try {
                                return value.SupplierId + " | " + value.MemberId + " | " + value.RealName
                            } catch (e) {

                            }
                           
                        }
                    }, {
                        field: 'DeliveryPrice', title: '供应商货款', width: 60, halign: 'center', align: 'right', formatter: function (value) {
                            return '￥' + value.toFixed(2);
                        }
                    }, {

                        field: 'Member',
                        width: 120,
                        title: '会员ID|购票姓名',
                        fixed: true,
                        align: 'center',
                        formatter:
                            function (value, row) {
                                return value.Id + ' | ' + value.RealName;
                            }
                        },
                      {

                          field: 'Agent',
                          width: 120,
                          title: '代理ID|姓名',
                          fixed: true,
                          align: 'center',
                          formatter:
                              function (value, row) {
                                  if (value) {
                                      return value.Id + " | " + value.RealName;
                                  } else {
                                      return '<span style="color:#999;">无</span>'
                                  }
                             
                              }
                      }
                     ,{
                         title: '状态', field: 'Status', width: 60, fixed: true, align: 'center',
                         formatter: function (value, row, index) {
                             if (row.HasRequest && row.Status != 6) {

                                 return '<span style="display:background:gray;color:red;"  >退款申请</span>'
                             }
                            
                             switch (value) {
                                 case 0:
                                     return '<span style="display:background:gray;color:red;"  >未付款</span>'
                                 case 1:
                                     return '<span style="display:background:gray;color:green;"  >已付款</span>'
                                 case 2:
                                     return '<span style="display:background:gray;color:red;"  >付款超时</span>'
                                 case 3:
                                     return '<span style="display:background:gray;color:orange;"  >已出票</span>'
                                 case 4:
                                     return '<span style="display:background:gray;color:orangered;" >已处理</span>'
                                 case 5:
                                     return '<span style="display:background:gray;color:green;"  >已核销</span>'
                                 default:
                                     return '<span style="display:background:gray;color:red;"  >退票</span>'

                             }
                         }
                     },
                     {
                         title: '退款申请', field: 'Request', width: 60, fixed: true, align: 'center',
                         formatter: function (value, row, index) {
                             if (row.HasRequest ) {

                              
                                     return '<span class="tt icon-chat" style="width:16px;height:16px;display:inline-block;" title="' + value + '"></span>'
                                 } else {
                                     return '<span style="color:#aaa;">无</span>'
                                 }
                             
                         }
                     },
                     {

                         field: 'CreateTime', title: '下单时间', width: 130,fixed:true, align: 'center', formatter: function (value) { return $.formatJsonDate(value) }
                     }, {
                         field: 'L1BalanceCharges', title: '一级佣金', width: 50, fixed: true, halign: 'center', align: 'right', formatter: function (value) {
                             if (value) {
                                 return '￥' + value.toFixed(2);
                             } else {
                                 return '<span style="color:#999;">无</span>'
                             }

                         }
                     }, {
                         field: 'L2BalanceCharges', title: '二级佣金', width: 50, fixed: true, halign: 'center', align: 'right', formatter: function (value) {
                             if (value) {
                                 return '￥' + value.toFixed(2);
                             } else {
                                 return '<span style="color:#999;">无</span>'
                             }

                         }

                     }, {
                         hidden:true,
                         field: 'VCode', title: '核销码', fixed: true, width: 60, align: 'center', formatter: function (value) { return value }
                     },
                      {
                          field: 'edit', title: '操作', fixed: true, width: 82, align: 'center', formatter: function (value,row,index) {
                              if (row.Status == 3 || row.Status == 4) {
                                  if (!row.HasRequest) {
                                      return '<a class="hxbtn" onclick="hx(' + index + ')">核销</a>'
                                  }
                              }
                           
                          }
                      }]],
                onLoadSuccess: function () {
                    $('.tt').tooltip()
                    $('.hxbtn').linkbutton({ iconCls: 'icon-bid', plain: true });
                }

            })
        })

        function hx(index) {
            var row=$('#table').datagrid('getRows')[index];
            $.post('/TicketOrder/Checkout', { id: row.Id }, function (data) {
                if (data.ResultCode != 1) {
                    $.messager.alert('提示', data.Message, 'warning');
                } else {
                    $.messager.alert('提示', data.Message, 'info');
                }
                $('#table').datagrid('reload')
            })
        }
    </script>
</div>




