@{
    ViewBag.Title = "Index";
}


<div class="easyui-layout" data-options="fit:true">
    <div id="table">
        <div id="maintabletoolbar">
            <table cellpadding="0" cellspacing="0">
                <tr>
                 
                    <td>
                        <input id="searchbox" class="easyui-searchbox" style="width:200px" prompt="请输入搜索的内容" data-options="searcher:function(value){$('#table').datagrid('load',{keyword:value})}" />
                    </td>
                    <td>
                        <div class="datagrid-btn-separator"></div>
                    </td>
                    <td>
                        <a class="easyui-linkbutton" iconcls="icon-reload" plain="true" onclick="$('#table').datagrid('reload')">刷新</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#table').datagrid({
            toolbar: '#maintabletoolbar',
            fit: true,
            closable: true,
            collapsible: true,
            pagination:true,
            method: 'get',
            fitColumns: true,
            singleSelect: true,
            pageList: [1, 2, 5, 10, 20, 30, 40, 50],
            url: '/Member/Get',
            columns: [[
                  {
                      field: 'Id', title: 'ID', width: 70,fixed:true, align: 'center'
                  },
                  {
                      field: 'NickName', title: '昵称', width: 60, align: 'center'
                  }, {
                      field: 'AvatarUrl', title: '头像', width: 40, align: 'center', formatter: function (value, row, index) {
                          return '<img style="width:30px;height:30px;border-radius:50%"  src=' + value + ' />'
                      }
                  }, {
                      field: 'RealName', title: '真实姓名', width: 60, align: 'center'
                  }, {
                      field: 'Sex', title: '性别', width: 40, align: 'center',
                      formatter: function (value, row, index) {
                          switch (value) {
                              case 0:
                                  return "女";
                              case 1:
                                  return "男";
                              case 2:
                                  return "未知";
                              default:
                                  return "未知";
                          }
                      }
                  }, {
                      field: 'Province', title: '省份', width: 60, align: 'center'
                  }, {
                      field: 'City', title: '城市', width: 60, align: 'center'
                  },{
                      field: 'PlatformBindPhone', title: '平台绑定的手机号', width: 120, align: 'center'
                  }, {
                      field: 'Account', title: '账户余额', width: 60, halign: 'center',align:'right', formatter: function (value) {
                          return '￥' + value.toFixed(2);
                      }
                  }, {
                      field: 'sss', title: '身份', align: 'center', width: 80, fixed: true, formatter: function (value, row) {
                          var s = [];
                          for (var i in ms) {
                              if ((row.Status & ms[i].k)) {
                                  s.push(ms[i].n);
                              }
                          }
                          return s.join(' ')
                      }
                  }, {
                      field: 'Status', title: '状态', align: 'center', width: 60, fixed: true, formatter: function (value,row,index) {
                          if ((value & 8) == 0) {
                              return '<div class="icon-ok" style="height:18px;cursor:pointer" title="点击禁用账户" onclick="enable(true,' + row.Id + ')">&nbsp;</div>'
                          } else {
                              return '<div class="icon-cancel" style="height:18px;cursor:pointer" title="点击启用账户" onclick="enable(false,' + row.Id + ')">&nbsp;</div>'
                          }
                      }
                  },
            ]],
           
        

            
        })
    })
    var ms = [{ k: 1, n: '<span title="已实名" class="icon-user" style="height:18px;width:18px;display:inline-block">&nbsp;</span>' }, { k: 2, n: '<span title="代理" class="icon-memberuser" style="height:18px;width:18px;display:inline-block">&nbsp;</span>' }, { k: 4, n: '<span title="供票商" class="icon-bid" style="height:18px;width:18px;display:inline-block">&nbsp;</span>' }];
    function enable(blea, index) {
        $.ajax({
            
            url: '/Member/put',
            data:{id:index,blea:blea},
            success: function (data) {
                $('#table').datagrid('reload');
            }
        });
    }
       
   
</script>





